@media (max-width: 900px) {
    #comments-container {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 600px) {
    #comments-container {
        grid-template-columns: 1fr;
    }
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    font-family: Inter, sans-serif;
    background: rgba(218, 231, 236, 0.75);
    padding: 20px;
    text-align: center;
}
/*.....................index.....................*/
h1{
    text-align: center;
    font-size: 60px;
    margin-bottom: 20px;
}
#users-container{
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}
.user-block{
    width: 48%;
    background: #deeffb;
    border: 1px solid #90caf9;
    border-radius: 10px;
    padding: 15px;
    box-sizing: border-box;
    text-align: left;
    transition: 0.5s;
}
.user-block:hover{
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}
.user-block p,
.post-info p{
    font-size: 30px;
}
.user-block a{
    display: inline-block;
    margin-top: 10px;
    padding: 8px 16px;
    background: #1976d2;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    text-align: center;
}
.user-block a:hover{
    background: #1564c0;
}



/*.....................user-details.....................*/
#user-info{
    width: 700px;
    margin: 40px auto;
    padding: 15px;
    background-color: #e3f2fd;
    border-radius: 8px;
    border: 1px solid #90caf9;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    font-size: 16px;
    line-height: 1.4;
}
#user-info h2,
.post-info h2{
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
}
#user-info p{
    font-size: 25px;
}
.post-btn{
    margin: 20px auto;
    display: block;
    padding: 10px 20px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
}
.post-btn:hover{
    background: #1564c0;
}
#posts-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    width: 90%;
    margin: 40px auto 0 auto;
}
.post-block{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background: #e9ecef;
    border: 1px solid #aaa;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.3);
}
.post-block a{
    display: inline-block;
    margin-top: 20px;
    padding: 5px 10px;
    background: #007bff;
    color: white;
    border-radius: 4px;
}
.post-block a:hover{
    background: #1564c0;
}
#address{
    padding-bottom: 20px;
}


/*.....................post-details.....................*/
h3{
    margin: 40px auto 20px;
    font-size: 30px;
}

.post-info{
    background: #e3f2fd;
    border: 1px solid #ddd;
    margin: 0 auto;
    width: 90%;
    padding: 15px;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}
#comments-container{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 30px;
}
.comment-block {
    background: #e3f2fd;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    text-align: center;
    word-break: break-word;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    transition: ease 0.2s;
}
.comment-block:hover{
    transform: translateY(-3px);
}
.comment-block p{
    line-height: 1.4;
    font-size: 20px;
}
.comment-block em{
    display: block;
    font-size: 20px;
    padding: 15px;
    margin-top: 15px;
    color: #007bff;
}

